node_modules
.DS_Store

/assets/kcs2/img

/assets/kcs2/resources/area
/assets/kcs2/resources/bgm
/assets/kcs2/resources/furniture
/assets/kcs2/resources/gauge
/assets/kcs2/resources/map
/assets/kcs2/resources/plane
/assets/kcs2/resources/se

/assets/kcs2/resources/ship/album_status

/assets/kcs2/resources/ship/banner/2*
/assets/kcs2/resources/ship/banner/1[5-9]*

/assets/kcs2/resources/ship/banner2
/assets/kcs2/resources/ship/banner2_dmg
/assets/kcs2/resources/ship/banner2_g_dmg
/assets/kcs2/resources/ship/banner3
/assets/kcs2/resources/ship/banner3_g_dmg
/assets/kcs2/resources/ship/banner_dmg
/assets/kcs2/resources/ship/banner_g_dmg
/assets/kcs2/resources/ship/card
/assets/kcs2/resources/ship/card_dmg
/assets/kcs2/resources/ship/card_round
/assets/kcs2/resources/ship/character_full
/assets/kcs2/resources/ship/character_full_dmg
/assets/kcs2/resources/ship/character_up
/assets/kcs2/resources/ship/character_up_dmg

/assets/kcs2/resources/ship/full/*
!/assets/kcs2/resources/ship/full/0156_3107_vsnkqdgtcjbs.png

/assets/kcs2/resources/ship/full_animation
/assets/kcs2/resources/ship/full_animation_dmg
/assets/kcs2/resources/ship/full_dmg
/assets/kcs2/resources/ship/full_x2
/assets/kcs2/resources/ship/icon_box
/assets/kcs2/resources/ship/port
/assets/kcs2/resources/ship/port_dmg
/assets/kcs2/resources/ship/power_up
/assets/kcs2/resources/ship/power_up_dmg
/assets/kcs2/resources/ship/powerup
/assets/kcs2/resources/ship/powerup_dmg
/assets/kcs2/resources/ship/remodel
/assets/kcs2/resources/ship/remodel_dmg
/assets/kcs2/resources/ship/reward_card
/assets/kcs2/resources/ship/reward_icon
/assets/kcs2/resources/ship/sp_remodel
/assets/kcs2/resources/ship/special
/assets/kcs2/resources/ship/special_dmg
/assets/kcs2/resources/ship/supply_character
/assets/kcs2/resources/ship/supply_character_dmg
/assets/kcs2/resources/ship/text_class
/assets/kcs2/resources/ship/text_name
/assets/kcs2/resources/ship/text_remodel_mes

/assets/kcs2/resources/slot
/assets/kcs2/resources/stype
/assets/kcs2/resources/useitem
/assets/kcs2/resources/voice
/assets/kcs2/resources/world
/assets/kcs2/resources/worldselect